body {
    font-family: Arial, sans-serif;
    background-color: #f0f8ff; /* Light Blue background color */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

.modal {
    max-width: 500px;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 70vh;
    background-color: #ffffff; /* White background color */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
}

h2 {
    text-align: center;
}

form {
    width: 100%;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input,
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.form-button {
    text-align: center;
}

input[type="submit"] {
    background-color: #1e90ff; /* Dodger Blue */
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #1565c0; /* Darker Dodger Blue on hover */
}

.services {
    margin-top: 20px;
    text-align: center;
    font-size: 18px;
}
/* Add this CSS to your existing register.css file or create a new one */

/* Style for Back to Home link */
a.back-to-home {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 20px;
    text-decoration: none;
    color: #fff;
    background-color: #3498db;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s ease-in-out;
}

a.back-to-home:hover {
    background-color: #2980b9;
}
